@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Lato', sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    position: absolute;
    background: url('https://www.10wallpaper.com/wallpaper/1366x768/1502/maine_coon_cat-Photography_HD_Wallpaper_1366x768.jpg');
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(40px);
    z-index: -1;
}

.percentage-text {
    color: #fafafa;
    font-size: 50px;
}